<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='alert.js') }}">	</script>
    <title>Login</title>
</head>
<body>
 <h1> Hello World </h1>
 <button onClick="sayHello()"> Wave </button>
 <div> 
    {% if users %}
      {% for user in users %}
        <p> {{ user.username  }}</p>
        {% endfor %}


        {% else %}
        <p>No users found in the database.</p>
    {% endif %}
 </div>
</body>
</html>

